* {
    font-family: 'KoHo', sans-serif;
}

.Layout {
    background: url('https://stmed.net/sites/default/files/building-wallpapers-28464-2294147.jpg');
    background-attachment: fixed;
    text-align: center;
    overflow: hidden;
}

.landing-grid {
    text-align: center;
}

.avatar-image {
    position: relative;
    height: 200px;
    border-radius: 50%;
}

.name {
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 12px black;
}

.name h1 {
    font-family: 'KoHo', sans-serif;
}

.banner-text {
    background-color: #000;
    opacity: .8;
    width: 45%;
    margin: auto;
    border-radius: 10px;
}

.banner-text h1 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: 'bold';
    font-family: 'KoHo', sans-serif;
}

.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p {
    text-align: center;
    color: #FFF;
    font-size: 20px;
    padding: 1em;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}

.social-links i {
    color: #fff;
    font-size: 5em;
    padding: 10px;
    margin: auto;
}

.category-tab {
    background-color: rgba(255, 255, 255, 0.7);
    width: 80%;
    height: 20%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 30px black;
}

.card-title {
    position: relative;
    top: 40px;
}

.projects {
    margin: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

.cards:hover {
    box-shadow: 15px 15px 80px black;
    transform: scale(1.02);
}

.about-page {
    background-color: rgba(255, 255, 255, 0.7);
    width: 80%;
    height: 20%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 30px black;
}

.about-page h1 {
    font-family: 'KoHo', sans-serif;
    font-size: 25px;
    padding: 5px;
}

.about-page hr {
    border-top: 1px dotted black;
    width: 100%;
    margin: auto;
    margin-top: -20px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: auto;
    padding: 25px;
}

.contact-page {
    background-color: rgba(255, 255, 255, 0.7);
    width: 30%;
    height: 20%;
    margin: auto;
    margin-top: 30vh;
    border-radius: 10px;
    box-shadow: 10px 10px 30px black;
}

.contact-page h1 {
    font-family: 'KoHo', sans-serif;
    font-size: 25px;
    padding: 5px;
    text-align: left;
}

.contact-page hr {
    position: relative;
    left: 0;
    border-top: 1px dotted black;
    width: 90%;
    margin: auto;
    margin-top: -20px;
}

.contacts {
    display: grid;
    grid-gap: 10px;
    font-family: 'KoHo', sans-serif;
    font-size: 30px;
    padding: 5px;
    text-align: left;
}